/* Global Reset & Standards ---------------------- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/**
 * Minimal base styles.
 */

* {
    margin: 0;
    padding: 0;
}

p {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #e5bddd;
    line-height: 22px;
    /*margin-bottom: 23px;*/
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

strong {
    font-weight: 700;
}

html {
    font-size: 100.01%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 62.5%;
    line-height: 1em;
    background-size: 100% auto;
}

a {
    display: inline-block;
}

a:link,
a:visited {
    text-decoration: none;
    cursor/**/
    : /**/
    pointer;
}

:focus {
    outline: 0;
}


/* 
 * Clearing Methods
 */

.clearfix:after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
}

.clear {
    clear: both;
    height: 1px;
    line-height: 1px;
}


/* Generic Clases ---------------------- */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width: 1370px){
	.main-container{
		max-width: 1366px;
		margin: 0 auto;
	}
	
}



/*---- Floats ----*/

.fr {
    float: right;
}

.fl {
    float: left;
}


/*---- Padding ----*/

.no-padding {
    padding: 0 !important;
}

.pr5 {
    padding-right: 5px;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}


/*---- Margin ----*/

.no-margin {
    margin: 0 !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}


/*---- Horizontal Alignment ----*/

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}


/*---- Hide ----*/

.hide {
    display: none;
}


/* -- Heading -- */

.heading h2 {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 56px;
    margin: 31px 0;
    font-family: LatoLight;
    font-size: 30px;
}

.primary-btn {
    background: #4aaef1;
    color: #fff !important;
    padding: 12px 18px !important;
    font-size: 14px;
    font-family: LatoRegular;
}


/* -- Specific Code --  */

.custom-btn {
    margin: 0 10px;
}


/* Container
*/


/* Header
*/

.navbar {
    /* background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 666px;*/
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 666px;
/*	position: relative;*/
}

.navbar-default {
    overflow: hidden !important;
    border: none;
    border-radius: 0;
}

.navbar-collapse.in {
   /* position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    background-color: rgb(249, 248, 246);
    z-index: 1;
    opacity: 0.9;*/
}

#navbar li a {
    display: block;
    font-size: 14px;
    color: #3c3c3c;
    text-shadow: 0 0 0px #3c3c3c;
    padding: 12px 10px;
    font-family: LatoRegular;
    margin-bottom: 10px;
}

#navbar li a:hover {
    background: transparent;
    color: #4aaef1 !important;
}

#navbar li .menu-border-btn {
    border: 2px solid #4aaef1;
    color: #4aaef1;
    text-shadow: 0 0 0 #4aaef1;
    padding: 10px;
}

#navbar li .primary-btn:hover {
    background-color: #fff;
}

.banner-content {
    margin-top: 12%;
    margin-left: 4%;
	/*position: absolute;
    top: 35%;*/
}

.banner-heading h1 {
    color: #0a6db0;
    font-family: LatoLight;
    font-size: 47.5px;
    letter-spacing: 5px;
    margin-bottom: 35px;
}

.form-control {
    font-family: LatoLight;
    font-size: 16px;
    color: #3c3c3c;
    text-shadow: 0 0 0 #3c3c3c;
    border: 1px solid #3c3c3c;
    border-radius: 0;
    height: 40px;
    background-color: transparent;
    padding-left: 30px;
}

.form-group .button-group a {
    background: url(../images/search-icon.png) no-repeat;
    width: 22px;
    height: 22px;
}

.btn-primary {
    color: #fff;
    background-color: #4aaef1;
    border-color: #4aaef1;
    border-radius: 0;
    padding: 8px;
}

.search-filter li {
    float: left;
    margin-right: 12px;
    margin-bottom: 10px;
    font-family: LatoRegular;
    font-size: 16px;
}

.search-filter h6 {
    margin: 0;
    font-family: LatoRegular;
    font-size: 16px;
    color: #4aaef1;
}

.search-filter li a {
    font-family: LatoRegular;
    font-size: 16px;
    color: #6b6b6b;
    margin-top: 3px;
}


/* Latest Courses */

#courses .heading h2 {
    color: #000;
}

.owl-carousel .text {
    padding: 20px 14px;
}

.owl-carousel .item {
    border: 1px solid #d3d1d1;
	min-height: 530px;
}

.owl-carousel .item {
    border: 1px solid #d3d1d1;
}


.owl-carousel .owl-item {
    padding: 0 20px;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

/*.owl-carousel .item .primary-btn {
    padding: 12px 10px !important;
	    margin: 0 20px;
}*/

.owl-carousel .text h5 {
    text-align: center;
    font-size: 16px;
    color: #000;
    font-family: LatoRegular;
}

.owl-carousel .text p {
    line-height: 18px;
    font-size: 14px;
    font-family: LatoRegular;
    color: #3c3c3c;
    line-height: 18px;
    margin-bottom: 20px;
}

.owl-controls .owl-prev {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -5%;
    background: url(../images/arrow-left.png) no-repeat;
    width: 15px;
    height: 26px;
}

.owl-controls .owl-next {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -5%;
    background: url(../images/arrow-right.png) no-repeat;
    width: 15px;
    height: 26px;
}

@media screen and (min-width: 1200px) and (max-width: 1280px) {
    .owl-controls .owl-prev {
        left: -20px;
    }
    .owl-controls .owl-next {
        right: -20px;
    }
}

@media screen and (min-width: 600px) and (max-width: 663px) {
    .owl-controls .owl-prev {
        left: -20px;
    }
    .owl-controls .owl-next {
        right: -20px;
    }
	
	.owl-carousel .item .primary-btn {
    	padding: 12px 10px !important;
		font-size: 12px !important;
	}
}


/*#owl-demo .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}*/


/* Industries Content*/

#industries {
    background-image: url('../images/industries_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    max-width: 1176px;
    margin: 0 auto;
}

.grid-view .thumbnail {
    background-color: transparent;
    border: 0px;
    padding: 0;
    /*    margin-bottom: 50px;*/
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.grid-view .thumbnail img.list-group-image {
    display: inline-block;
}


/*
.grid-view .item {
    padding: 0px 25px;
    text-align: center;
    text-align: -webkit-center;
}*/

.grid-view .thumbnail .title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*    text-align: center;*/
    vertical-align: middle;
    line-height: 209px;
}

.grid-view .thumbnail .title h2 {
    display: inline-table;
    vertical-align: middle;
    line-height: 100%;
    font-family: LatoBold;
    color: #fff;
    text-shadow: 0px 1px 2px #3c3c3c;
}

.grid-view .thumbnail .text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    vertical-align: middle;
    line-height: 209px;
    padding: 10px 15px;
    opacity: 0;
    background-color: #4aaef1;
    transition: all 0.5s ease;
    overflow: auto;
}

.grid-view .thumbnail .text:hover {
    opacity: 1;
    transition: all 0.5s ease;
}

.grid-view .thumbnail .text h5 {
    line-height: auto;
    font-size: 16px;
    color: #fff;
    font-family: LatoBold;
    margin-top: 0;
    margin-bottom: 15px;
}

.grid-view .thumbnail .text p {
    line-height: 16px;
    font-size: 14px;
    color: #fff;
    font-family: LatoRegular;
    text-align: justify;
    margin: 0;
}

.content-footer.row {
    margin: 0;
}

@media screen and (max-width: 1199px) {
    .content-footer.row .col-lg-12 {
        text-align: center;
    }
}

.content-footer h4 {
    margin: 50px 0;
    font-family: LatoRegular;
    font-size: 16px;
    text-shadow: 0 0 0 #4aaef1;
}


/*Article*/

#article .list-view {
    margin-bottom: 95px;
}

#article .heading h2 {
    color: #000;
    margin-bottom: 45px;
}

#article .list-view p {
    color: #3c3c3c;
    text-align: justify;
    font-family: LatoRegular;
    font-size: 14px;
    line-height: 16px;
    padding: 0 10px;
}

#article .list-view h4 {
    font-family: LatoRegular;
    font-size: 20px;
    text-shadow: 0 0 0 #000;
    margin: 35px 0;
}

#article i.star_icon {
    background: url(../images/star_icon.png) no-repeat;
    width: 34px;
    height: 35px;
    display: inline-block;
}

#article i.bar_icon {
    background: url(../images/bar_icon.png) no-repeat;
    width: 51px;
    height: 35px;
    display: inline-block;
}

#article i.trophy_icon {
    background: url(../images/trophy_icon.png) no-repeat;
    width: 51px;
    height: 35px;
    display: inline-block;
}


/* Testimonials */

#testimonial {
    background-image: url('../images/testimonial_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 429px;
}

#testimonial .carousel-caption {
    right: 0;
    left: 0;
    top: 0;
    padding-top: 0;
}

#testimonial .carousel-caption p {
    font-size: 20px;
    font-family: LatoItalic;
    color: #fff;
    margin: 35px 65px;
    text-shadow: none;
}

@media screen and (max-width: 661px) {
    #testimonial .carousel-caption p {
        margin: 10px 0 0 0;
        font-size: 16px;
    }
}

#testimonial .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 310px;
}

#testimonial .carousel-inner .carousel-caption h4 {
    font-size: 16px;
    font-family: LatoRegular;
    text-shadow: none;
}

#testimonial .carousel-inner .carousel-caption span {
    font-size: 16px;
    font-family: LatoLight;
    text-shadow: none;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 0 5px;
}

#testimonial .carousel-indicators {
    margin-bottom: 0;
}

#testimonial .carousel-indicators .active {
    width: 13px;
    height: 13px;
    margin: 0 5px;
}


/*Footer*/

.footer-nav {
    background: #060d1a;
    height: auto;
    padding: 53px 0 23px 0;
    /*
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;*/
}

.footer-nav p {
    font-size: 14px;
    font-family: LatoRegular;
    color: #fff;
    line-height: 26px;
    text-shadow: 0 0 0 #fff;
}

.footer-nav img {
    max-width: 100%;
}

.social-icons li {
    display: inline-block;
    margin-right: 12px;
}

.footer-nav ul li a {
    display: block;
    font-size: 14px;
    font-family: LatoRegular;
    cursor: pointer;
    padding: 5px;
    color: #4e5c72;
    text-shadow: 0 0 0 #4e5c72;
}

.contact .fa {
    font-size: 18px;
    color: #009cf2;
    margin-right: 15px;
}

.contact span {
    color: #444547;
    font-size: 14px;
    font-family: LatoRegular;
    text-shadow: 0 0 0 #444547;
    margin-bottom: 10px;
    margin-left: 25px;
}

.contact li {
    margin-bottom: 15px;
}

.links li {
    margin-bottom: 15px;
}

.footer {
    padding: 15px 0;
    background-color: #000;
}

.footer ul li {
    float: left;
    margin-right: 22px;
}

.footer ul li a {
    color: #808080;
    font-size: 10px;
    font-weight: 600;
    font-family: LatoLight;
}

.footer .col-lg-6 {
    line-height: 30px;
}

.footer .col-lg-6 p {
    margin: 0;
    color: #808080;
    font-size: 10px;
    line-height: 30px;
    font-family: LatoLight;
}

@media screen and (max-width: 767px) {
    .footer-nav {
        text-align: center;
        padding: 0 30px;
    }
    .footer-nav .col {
        border-bottom: 1px solid #3c3c3c;
        padding: 40px 20px;
        margin-bottom: 0 !important;
    }
}