/* Global Reset & Standards ---------------------- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/**
 * Minimal base styles.
 */

* {
    margin: 0;
    padding: 0;
}

p {
    /*font-family: Arial, sans-serif;*/
    font-size: 12px;
    /*color: #e5bddd;*/
    line-height: 22px;
    /*margin-bottom: 23px;*/
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

strong {
    font-weight: 700;
}

html {
    font-size: 100.01%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 62.5%;
    line-height: 1em;
    background-size: 100% auto;
    overflow-x: hidden;
    background-color: #e0e0e0;
}

a {
    display: inline-block;
}

a:link,
a:visited {
    text-decoration: none;
    cursor/**/
    : /**/
    pointer;
}

:focus {
    outline: 0;
}


/*
 * Clearing Methods
 */

.clearfix:after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
}

.clear {
    clear: both;
    height: 1px;
    line-height: 1px;
}


/* Generic Clases ---------------------- */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width: 1370px) {
    .main-container {
        max-width: 1366px;
        margin: 0 auto;
        box-shadow: 0 0 25px #999;
    }
}


/*---- Floats ----*/

.fr {
    float: right !important;
}

.fl {
    float: left !important;
}


/*---- Padding ----*/

.no-padding {
    padding: 0 !important;
}

.pr5 {
    padding-right: 5px;
}

.pl0 {
    padding-left: 0px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt20 {
    padding-top: 20px !important;
}


/*---- Margin ----*/

.no-margin {
    margin: 0 !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.ml15 {
    margin-left: 15px;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb45 {
    margin-bottom: 45px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt45 {
    margin-top: 45px !important;
}


/*---- Horizontal Alignment ----*/

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}


/*---- Hide ----*/

.hide {
    display: none;
}

.uppercase{
  text-transform: uppercase;
}



/* -- Heading -- */

.heading h2 {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 56px;
    margin: 31px 0;
    font-family: LatoLight;
    font-size: 30px;
	letter-spacing: 2px;
}

.primary-btn {
    background: #4aaef1;
    color: #fff !important;
    padding: 11px 18px !important;
    font-size: 14px;
    font-family: LatoRegular;
}


/* -- Specific Code --  */

.custom-btn {
    margin: 0 10px;
    line-height: 15px;
    text-align: center;
}


/* Container
*/


/* Header
*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 800;
    max-width: 1366px;
        margin: 0 auto;
}

.navbar--active{
	border-bottom: 1px solid #a8a8a8 !important;
	background-color: #e7e5e2 !important;
}

.navbar-default {
    overflow: hidden !important;
    border: none;
    background-color: transparent;
    border-radius: 0;
}

.navbar-collapse.in {
    /*position: absolute;*/
    width: 100%;
    left: 0px;
    right: 0px;
    background-color: rgb(249, 248, 246);
    z-index: 1;
    opacity: 1;
}

#navbar li a {
    display: block;
    font-size: 14px;
    color: #3c3c3c;
/*    text-shadow: 0 0 0px #3c3c3c;*/
    padding: 11px;
    font-family: LatoRegular;
/*    margin-bottom: 10px;*/
}

#navbar li a:hover {
    background: transparent;
    color: #4aaef1 !important;
}

#navbar li.current-menu-item a{
    color: #4aaef1 !important;
}

.menu-border-btn {
    border: 2px solid #4aaef1;
    color: #4aaef1 !important;
    text-shadow: 0 0 0 #4aaef1;
    padding: 9px !important;
    font-size: 14px;
}

#navbar li .primary-btn:hover {
    background-color: #fff;
}


/* ** Header Internal ** */

#header-internal {
    background-color: #e7e5e2 !important;
    border-bottom: 1px solid #a8a8a8 !important;
    margin-bottom: 0;
}

#header-internal .navbar-collapse li a {
    margin-bottom: 0;
}

.banner-image {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 666px !important;
    position: relative;
    top: 0;
}

.banner-content {
    padding-top: 20%;
    padding-left: 6%;
}


.banner-heading h1 {
    color : #6a6968;
    font-family: LatoLight;
    font-size: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
	margin-top: 16px !important;
/*    word-spacing: 30px;*/
}

#homescreen .banner-heading h1{
	color: #0a6db0;
    font-size: 47.5px;
    margin-bottom: 36px;
    letter-spacing: 5px;
    text-transform: inherit;
}

.form-control {
    font-family: LatoLight;
    font-size: 16px;
    color: #3c3c3c;
    text-shadow: 0 0 0 #3c3c3c;
    border: 1px solid #3c3c3c;
    border-radius: 0;
    height: 40px;
    background-color: transparent;
    padding-left: 30px;
}

.form-group .button-group a {
    background: url(../images/search-icon.png) no-repeat;
    width: 22px;
    height: 22px;
}

.btn-primary {
    color: #fff !important;
    background-color: #4aaef1 !important;
    border-color: #4aaef1 !important;
    border-radius: 0 !important;
    padding: 8px !important;
}

.search-filter li {
    float: left;
    margin-right: 12px;
    margin-bottom: 10px;
    font-family: LatoRegular;
    font-size: 16px;
}

.search-filter h6 {
    margin: 0 5px;
    font-family: LatoRegular;
    font-size: 16px;
    color: #4aaef1;
}

.search-filter li a {
    font-family: LatoRegular;
    font-size: 16px;
    color: #6b6b6b;
    margin-top: 3px;
}


/* Latest Courses */

#courses{
  background-image: url('../images/course_background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#courses .heading h2 {
    color: #000;
/*	margin-top: 47px;*/
	letter-spacing: 2.2px;
    text-shadow: 0 0 0 #000;
}


/*.owl-carousel .text {
        padding: 0px 14px 20px 14px;
}*/

.owl-carousel .owl-item {
    /*padding: 0 20px;*/
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #d3d1d1;
    min-height: 300px !important;
    width: 266px !important;
    margin: 0 11px;
    background-color: #fff;
}

.owl-carousel .owl-item img{
  width: 100% !important;
}

.owl-carousel .owl-item .text p{
  padding: 0 20px;
}

@media screen and (max-width: 599px) {
    .owl-carousel .owl-item {
        min-height: 435px !important;
    }
}

@media screen and (min-width: 600px) {
    .owl-carousel .owl-item {
        min-height: 350px !important;
    }
}

@media screen and (min-width: 1250px) {
    .owl-carousel .owl-item {
        min-height: 400px !important;
    }
}

.owl-carousel .item .primary-btn {
    padding: 12px 22px !important;
}

.owl-carousel .text h5 {
    text-align: center;
    font-size: 16px;
    color: #000;
    font-family: LatoRegular;
	text-transform: uppercase;
}

.owl-carousel .text p {
    line-height: 18px;
    font-size: 14px;
    font-family: LatoRegular;
    color: #3c3c3c;
    line-height: 18px;
    word-wrap: break-word;
    margin-bottom: 20px;
    height: 90px;
    overflow: hidden;
}

.owl-carousel .text .text-btn {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.owl-controls .owl-prev {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -5%;
    background: url(../images/arrow-left.png) no-repeat;
    width: 15px;
    height: 26px;
}

.owl-controls .owl-prev:hover {
    background: url(../images/arrow-left-active.png) no-repeat;
}

.owl-controls .owl-next {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -5%;
    background: url(../images/arrow-right.png) no-repeat;
    width: 15px;
    height: 26px;
}

.owl-controls .owl-next:hover {
    background: url(../images/arrow-right-active.png) no-repeat;
}

@media screen and (min-width: 1200px) and (max-width: 1280px) {
    .owl-controls .owl-prev {
        left: -20px;
    }
    .owl-controls .owl-next {
        right: -20px;
    }
}

@media screen and (min-width: 600px) and (max-width: 663px) {
    .owl-controls .owl-prev {
        left: -20px;
    }
    .owl-controls .owl-next {
        right: -20px;
    }
}


/*#owl-demo .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}*/


/* Industries Content*/

#industries {
    background-image: url('../images/industries_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#industries  .heading h2{
	    margin: 31px 0 12px 0;
}

.container {
    max-width: 1176px;
    margin: 0 auto;
}

.grid-view .thumbnail {
    background-color: transparent;
    border: 0px;
    padding: 0;
    /*    margin-bottom: 50px;*/
    position: relative;
    display: inline-block;
    cursor: pointer;
	margin: 25px 12px;
}

.grid-view .thumbnail img.list-group-image {
    display: inline-block;
}


.grid-view .item {
    padding: 0px;
}

.grid-view .thumbnail .title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*    text-align: center;*/
    vertical-align: middle;
    line-height: 209px;
}

.grid-view .thumbnail .title h2 {
    display: inline-table;
    vertical-align: middle;
    line-height: 100%;
    font-family: LatoBold;
    color: #fff;
    text-shadow: 0px 1px 2px #3c3c3c;
    text-transform: uppercase;
}

.grid-view .thumbnail .text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    vertical-align: middle;
    line-height: 209px;
    padding: 10px 15px;
    opacity: 0;
    background-color: #4aaef1;
    transition: all 0.5s ease;
    overflow: auto;
}

.grid-view .thumbnail .text:hover {
    opacity: 1;
    transition: all 0.5s ease;
}

.grid-view .thumbnail .text h5 {
    font-size: 16px;
    color: #fff;
    font-family: LatoBold;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.grid-view .thumbnail .text p {
    line-height: 16px;
    font-size: 14px;
    color: #fff;
    font-family: LatoRegular;
    text-align: justify;
    margin: 0;
}

/*
.content-footer.row {
    margin: 0;
}
*/

@media screen and (max-width: 1199px) {
    .content-footer.row .col-lg-12 {
        text-align: center;
    }
}

.content-footer h4 {
    margin: 43px 0 68px 0;
    font-family: LatoRegular;
    font-size: 16px;
    text-shadow: 0 0 0 #4aaef1;
}


/*Article*/
#article{
  background-color: #fff;
}

#article .list-view {
    margin-bottom: 95px;
}

#article .heading h2 {
    color: #000;
    margin-bottom: 45px;
}

#article .list-view p {
    color: #3c3c3c;
    text-align: justify;
    font-family: LatoRegular;
    font-size: 14px;
    line-height: 16px;
    padding: 0 10px;
}

#article .list-view h4 {
    font-family: LatoRegular;
    font-size: 20px;
    text-shadow: 0 0 0 #000;
    margin: 35px 0;
}

#article i.star_icon {
    background: url(../images/star_icon.png) no-repeat;
    width: 34px;
    height: 35px;
    display: inline-block;
}

#article i.bar_icon {
    background: url(../images/bar_icon.png) no-repeat;
    width: 51px;
    height: 35px;
    display: inline-block;
}

#article i.trophy_icon {
    background: url(../images/trophy_icon.png) no-repeat;
    width: 51px;
    height: 35px;
    display: inline-block;
}


/* Testimonials */

#testimonial {
    background-image: url('../images/testimonial_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 429px;
}

#testimonial .carousel-caption {
    right: 0;
    left: 0;
    top: 0;
    padding-top: 0;
}

#testimonial .carousel-caption h4{
    text-transform: uppercase;
}

#testimonial .carousel-caption p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin: 35px 65px;
    text-shadow: none;
    font-style: italic;
    font-weight: 300;
}

@media screen and (max-width: 661px) {
    #testimonial .carousel-caption p {
        margin: 10px 0 0 0;
        font-size: 16px;
    }
}

#testimonial .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 310px;
}

#testimonial .carousel-inner .carousel-caption h4 {
    font-size: 16px;
    font-family: LatoRegular;
    text-shadow: none;
}

#testimonial .carousel-inner .carousel-caption span {
    font-size: 16px;
    font-family: LatoLight;
    text-shadow: none;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 0 5px;
}

#testimonial .carousel-indicators {
    margin-bottom: 0;
    padding: 35px 0 30px 0;
}

#testimonial .carousel-indicators .active {
    width: 13px;
    height: 13px;
    margin: 0 5px;
}


/** courses A **/

.breadcrumb {
    background-color: #f9f8f6;
    margin-bottom: 8px;
}

.breadcrumb li a {
    text-transform: uppercase;
    font-family: LatoLight;
    font-size: 8px;
    color: #545453;
}

.breadcrumb li.active a {
    color: #bebdbc;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #000;
    content: ">";
}


/*.courses-heading h1{
  color: #000;
  font-family: LatoLight;
  font-size: 30px;
  margin-bottom: 40px;
  text-transform: uppercase;
}*/

.banner-search {
    max-width: 900px;
    margin: 0 auto;
}

.navbar-form .input-group>.form-control {
    width: 99%;
}

.navbar-form .input-group .input-group-btn {
    width: 1%;
}


/* **course-page** */

.panel-list-heading h4{
  margin: 21px 0 !important;
}

/* & provider page */

#provider-content .panel-body .img-col img {
    width: 81px;
    height: 81px;
}

.content {
    background-color: #f9f8f6;
    padding: 10px 0;
    margin-top: 60px;
}

#course-page .panel-body,
#provider-content .panel-body {
    background: url(../images/right-arrow.png) no-repeat right;
    padding: 17px 0px !important;
}

.content .panel-default {
    padding: 0 28px;
    border-radius: 0;
    border: 0;
	    margin-bottom: 25px;
}

.content .panel-body h4 {
    margin-bottom: 12px;
    margin: 5px 0;
    font-family: LatoRegular;
    color: #3c3c3c;
    text-transform: uppercase;
        text-shadow: 0 0 0 #3c3c3c;
    font-size: 20px;
    /*font-weight: 600;*/
}

.content .panel-body p {
    font-family: LatoRegular;
    font-size: 16px;
    color: #a8a8a8;
    margin: 0;
}


/* Content Course B or Industry Single Page where all its course show*/

#industry-single,
#provider-single {
    background-color: #f9f8f6;
}

#industry-single .banner-heading h1 {
    color: #000;
    font-family: LatoLight;
    font-size: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

#industry-single .media-left img {
    /*width: 116px;
  height: 116px;*/
}

.separator-lg {
    background-color: #f9f8f6;
    background: url(../images/separator.png) no-repeat top center;
    /*    padding: 10px 0;*/
    margin: 25px 0;
}


/*.design-banner-search {
    margin-bottom: 20px !important;
}*/

.content .search-section {
    background-image: url(../images/separator.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 0 15px;
    padding-bottom: 13px;
}

.course-panel .panel.panel-default {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    position: relative;
}

.course-panel .panel.panel-default img.panel-badge {
    position: absolute;
    right: 28px;
    cursor: pointer;
}

.course-panel .panel.panel-default img.compared-badge {
    display: none;
}

.course-panel .panel.added img.compared-badge {
    display: block;
}

.panel.panel-default .panel-body {
    padding: 25px 27px !important;
}

.course-panel .panel.panel-default .media-body {
    padding-left: 15px;
    padding-bottom: 10px;
}

.course-panel .panel.panel-default .media-body h4 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.media-body .rating {
    margin-bottom: 38px;
}

.media-body .rating span:last-child {
    font-size: 10px;
    color: #a8a8a8;
    font-family: LatoRegular;
    margin-left: 5px;
}

.fa-star,
.fa-star-half-o {
    font-size: 20px !important;
    color: #f7aa16;
    padding: 0 3px 0 0;
}

.media-body .key-points li.key-heading {
    color: #4aaef1;
    font-family: LatoRegular;
    font-size: 10.2px;
    margin-bottom: 8px;
}

.media-body .key-points li.key-text {
    color: #3c3c3c;
    font-family: LatoRegular;
    font-size: 14px;
    display: inline;
    line-height: 15px;
}

.panel.panel-default .panel-body .media {
    border-bottom: 1px solid #a8a8a8;
}

.panel.panel-default .panel-body .uni-link a {
    padding: 24px 0;
    color: #4aaef1 !important;
    font-family: LatoRegular;
    font-size: 14px;
}

.panel.panel-default .panel-body .course-details li {
    margin-bottom: 12px;
}

.panel.panel-default .panel-body .course-details ul {
    margin-bottom: 30px;
}

.panel.panel-default .panel-body .course-details .heading {
    color: #7f7f7f;
    font-family: LatoLight;
    font-size: 14px;
}

.panel.panel-default .panel-body .course-details .value {
    color: #000;
    text-shadow: 0 0 0 #000;
    font-family: LatoRegular;
    font-size: 16px;
}

.panel.panel-default .panel-body .details-text {
    color: #a8a8a8;
    font-family: LatoRegular;
    font-size: 12px;
    margin-bottom: 30px;
}

.course-panel-footer .primary-btn {
    font-size: 16px;
    padding: 12px 32px !important;
    text-transform: uppercase;
}

.course-panel-footer a.more-details {
    font-size: 16px;
    color: #4aaef1;
    font-family: LatoRegular;
    text-transform: uppercase;
    padding: 12px 0;
}

.filter-header h5 {
    border-bottom: 1px solid #a8a8a8;
    padding: 57px 0 9px 0;
    margin: 0;
    font-family: LatoRegular;
    font-size: 14px;
    text-transform: uppercase;
    color: #a8a8a8;
}


/*
#accordion .panel-default {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#accordion .panel-default .panel-heading {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 25px 15px;
}

#accordion .panel-default .panel-heading .panel-title {
    text-transform: capitalize;
}

#accordion .panel-default .panel-heading .panel-title a {
    width: 100%;
    background: url(../images/arrow-up.png) no-repeat right center;
    color: #4aaef1;
    font-family: LatoBold;
    text-shadow: none;
}

#accordion .panel-default .panel-heading .panel-title a.collapsed {
    width: 100%;
    background: url(../images/arrow-down.png) no-repeat right center;
    color: #000;
    font-family: LatoRegular;
    text-shadow: none;
}

#accordion.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none !important;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}
*/

.fa-chevron-down:before {
    content: "" !important;
}

.appInfoContainer .collapse-anchor {
    background: url(../images/arrow-up.png) no-repeat right center;
}

.appInfoContainer .collapsed {
    background: url(../images/arrow-down.png) no-repeat right center;
}

.collapsed+.collapse-panel {
    display: none;
}


/*Provider single page*/

#provider-single .banner-heading h1 {
    display: inline;
    color: #3f3f3f;
}

#provider-single .banner-heading .rating {
    display: inline-block;
    float: right;
}

#provider-single .filter-header h5 {
    padding: 0px 0 10px 0;
}

#provider-single .banner-text p {
    font-family: LatoLight;
    font-size: 16px;
    color: #3c3c3c;
    padding: 0 30px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    #provider-single .banner-text p {
        padding: 0 60px;
    }
}

@media screen and (max-width: 767px) {
    #provider-single .banner-text p {
        padding: 0px;
        margin-top: 10px;
    }
}

.appWrapper .panel {
    background-color: transparent;
    box-shadow: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

.filter-section .navbar-form .input-group>.form-control{
 padding-left: 13px;
 width: 98% !important;
}

.filter-section .collapsed .filter-menu {
    color: #000 !important;
}

.filter-section .collapse-anchor .filter-menu {
    font-family: LatoRegular;
    font-size: 16px;
    color: #4aaef1;
}

.filter-section .panel .collapse-panel {
    margin: 35px 0 0 10px;
    background: #fff;
    padding: 10px;
}

.filter-section .panel .collapse-panel .checkbox p {
    display: inline-block;
    font-size: 14px;
    color: #3c3c3c;
    font-family: LatoRegular;
    text-transform: uppercase;
}

.filter-section .panel .collapse-panel .checkbox input:checked .cr {
    background-color: aqua;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 0;
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 15px;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}


/*course details*/

#course-details .banner-heading h1 {
    text-transform: uppercase;
    font-family: LatoRegular;
}

#course-details p {
    color: #a8a8a8;
    font-family: LatoRegular;
    font-size: 12px;
}


/*

#course-details .key-points {
    padding-right: 66px;
    padding-top: 20px;
}
*/

#course-details .key-points .key-heading {
    color: #a8a8a8;
    font-size: 12px;
    font-family: LatoRegular;
}

#course-details .key-points .key-text {
    color: #3c3c3c;
    font-size: 16px;
    font-family: LatoRegular;
    line-height: 22px;
}

#course-details .key-points ul {
    text-align: right;
}

#course-details .key-points li {
    margin: 15px 0;
}

#course-details .banner {
    background: #fff;
    padding: 25px 0 0 0;
    margin-bottom: 20px !important;
}

.expandall a {
    color: #4aaef1;
    font-size: 15px;
    text-transform: uppercase;
    font-family: LatoRegular;
}

#course-details .appWrapper .panel {
    margin-bottom: 0;
}

#course-details .appInfoContainer .collapsed {
    background-image: url(../images/expand_icon.png) !important;
}

#course-details .appInfoContainer .collapse-anchor {
    background-image: url(../images/collapse_icon.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    color: #4aaef1;
    font-size: 16px;
    text-transform: uppercase;
    font-family: LatoRegular;
    margin-bottom: 0;
    padding: 10px 60px;
    background-color: #e7f0f5;
    cursor: pointer;
}

#course-details .appInfoContainer .collapse-panel p {
    padding: 10px 20px;
    background-color: #fff;
}

#course-details .course-added-btn{
  display: none;
}
#course-details .added .course-added-btn{
  display: inline-block;
}

#course-details .added .add-compare-btn{
  display: none;
}

.tags span {
    color: #4aaef1;
    font-family: LatoRegular;
    font-size: 16px;
    line-height: 20px;
}

.tags span:after {
    content: ",";
}

.tags span:last-child:after {
    content: "" !important;
}


/**BLOG**/

#blog .banner-heading h1{
  margin-top: 11px;
 margin-bottom: 47px;

}

.blog-info i.calendar-icon,
.blog-info i.person-icon {
  background-image: url(../images/calendar_icon.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.blog-info i.person-icon {
    background-image: url("../images/person_icon.png");
}

.blog-info ul li {
    display: inline-block;
    float: left;
    padding: 22px 35px 22px 0;
}

.blog-info p {
    display: inline-block;
    color: #828181;
    font-size: 15px;
    vertical-align: text-bottom;
}

.blog-title h1{
margin-bottom: 12px;
margin: 5px 0;
font-family: LatoRegular;
color: #3c3c3c;
text-transform: uppercase;
text-shadow: 0 0 0 #3c3c3c;
font-size: 20px;
}

.recent-blog-section ul li {
    padding: 10px 0;
}

.recent-blog-section ul li a {
    font-size: 20px;
    font-family: LatoRegular;
    color: #4aaef1;
    line-height: 25px;
    text-transform: lowercase;
}

.recent-blog-section ul li a:first-letter {
    text-transform: uppercase;
}



/*About Us*/

#AboutUs .panel.panel-default .panel-body .media,
#ContactUs .panel.panel-default .panel-body .media,
#tc .panel.panel-default .panel-body .media,
#privacyPolicy .panel.panel-default .panel-body .media,
#finance .panel.panel-default .panel-body .media,
#compareCourse .panel.panel-default .panel-body .media{
    border: none;
}

#AboutUs .filter-header h5,
#ContactUs .filter-header h5,
#tc .filter-header h5,
#privacyPolicy .filter-header h5,
#finance .filter-header h5{
    padding-top: 0;
}


/*Blog Single*/
#blog-single .media-body h1 {
  margin-bottom: 12px;
  margin: 5px 0;
  font-family: LatoRegular;
  color: #3c3c3c;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 0 0 0 #3c3c3c;
}

#blog-single .blog-content img {
    display: inherit;
    margin: 20px 0;
    max-width: 100%;
}

#blog-single .details-text img.alignright {
    margin: 20px 0 20px auto;
}

#blog-single .details-text img.alignleft {
    margin: 20px auto 20px 0;
}

#blog-single .details-text img.aligncenter {
    margin: 20px auto;
}

#blog-single .blog-content ol,
#blog-single .blog-content ul,
#blog-single .blog-content p,
#blog-single .blog-content{
    color: #a8a8a8;
    font-family: LatoRegular;
    font-size: 12px;
    line-height: 22px;
    padding: 0 13px;
}



#blog-single .blog-content h4{
 font-size: 16px;
    margin: 12px 0px;
    color: #a8a8a8;
}

#blog-single .blog-content h1{
 font-size: 20px;
    margin: 12px 0px;
    color: #a8a8a8;
}

#blog-single .blog-content ul{
  padding: 0 !important;
}

/*Contact US*/
#contact-form .controls .form-group {
    display: table;
	width: 100%;
}

#contact-form .form-group label {
    font-size: 14px;
    font-family: LatoLight;
    color: #3c3c3c;
    font-weight: normal;
    line-height: 19px;
	display: table-header-group;
}

#contact-form .form-group input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #e4e3e1;
	padding: 0;
	font-family: LatoLight;
	line-height: 19px;
	color: #a8a8a8;
	font-weight: normal;
	display: table-footer-group;
}

#contact-form .form-control:focus{
	border-bottom: 1px solid #4aaef1;
}

#contact-form input:focus + label{
	color: #4aaef1;
}

/*Compare Course */
.columns {
 float: left;
 margin-bottom: 30px;
 position: relative;
}

.columns .icon:before{
  content: "";
background: url(../images/close_icon.png);
width: 27px;
height: 27px;
background-repeat: no-repeat;
display: block;
/* width: 100%; */
background-position: right;
cursor: pointer;
}

.columns:first-child:before{
	content: "";
	background: none !important;
}

.columns .heading-list li {
background-color: #e7f0f5;
font-size: 20px;
font-family: LatoRegular;
line-height: 22px;
color: #000;
text-transform: uppercase;
padding: 13px 28px 13px 10px;
font-weight: bold;
width: 272px;
/* border-left: 1px solid #a3a2a2;*/
text-shadow: none;
}

.columns .heading-list {
 margin-right: 8px !important;
 border-right: 1px solid #a3a2a2;
}

.columns ul li{
 color: #000;
font-family: LatoRegular;
line-height: 22px;
font-size: 18px;
padding: 13px 28px 13px 10px;
font-weight: normal;
text-shadow: 0 0 0 #000;
width: 235px;
border-bottom:1px solid #a3a2a2;
min-height: 49px;
word-break: break-word;
}

.columns ul{
 border-left: 1px solid #a3a2a2;
/* position: relative;*/
}

.columns ul.heading-list li:first-child{
 padding: 28px 28px 28px 10px;
}

.columns ul li:first-child{
 padding: 16px 28px 16px 10px;
 border-top: 1px solid #a3a2a2;
}

.columns ul li:first-child span{
display: block;
color: #76c1f2;
font-family: LatoRegular;
line-height: 24px;
font-size: 12px;
text-transform: uppercase;
}

.columns:last-child ul{
 border-right: 1px solid #a3a2a2;
}

.button{
 text-transform: uppercase;
 color: #4aaef1;
 font-family: LatoBold;
 font-size: 17px;
 line-height: 16px;
 padding: 17px 50px !important;
margin-top: 5px;
margin-right: 0;
margin-left: 6px;
}

/*.columns ul a.icon{
 position: absolute;
 right: 15px;
 top: -13px;
 cursor: pointer;
}*/

.columns a.icon{
  display: inline-block;
position: absolute;
right: 11px;
top: -11px;
}

#compareCourse .media-body a{
 text-transform: uppercase;
 color: #4aaef1;
 font-family: LatoRegular;
 text-shadow: 0 0 0 #4aaef1;
 float: right;
}


#compareCourse .media-body h5{
 font-size: 16px;
}



/* Pagination*/
#getPageNo{
    text-align: -webkit-center;
	    margin: 20px 0;
}

#getPageNo a:link, a:visited
{
  /*font-size: 15px;*/
}

#getPageNo a.prev,
#getPageNo a.next{
  border: none;
}

#getPageNo a.prev{
  background: url(../images/arrow-left.png) no-repeat;
  background-position: bottom;
  background-size: 9px;
}

#getPageNo a.prev:hover{
  background: url(../images/arrow-left-active.png) no-repeat;
  background-position: bottom;
  background-size: 9px;
}

#getPageNo a.next{
  background: url(../images/arrow-right.png) no-repeat;
     background-position: bottom;
     background-size: 9px;
}

#getPageNo a.next:hover{
  background: url(../images/arrow-right-active.png) no-repeat;
  background-position: bottom;
  background-size: 9px;
}

#getPageNo a.active {
    color: #4aaef1;
    background: transparent;
    border: 2px solid #4aaef1;
}

#getPageNo a {
    padding: 11px;
    color: #dad9d8;
    border: 1px solid #dad9d8;
    margin: 0 5px;
	font-size: 18px;
}


/*Footer*/

.footer-nav {
    background: #060d1a;
    height: auto;
    padding: 26px 0 47px 56px;
}

.footer-nav p {
    font-size: 11.9px;
    font-family: LatoLight;
    color: rgba(254, 254, 254, 0.75);
    line-height: 20px;
    letter-spacing: 1px;
    text-shadow: 0 0 0 #060d1a;
    text-align: justify;
}

.footer-nav h4 {
    font-size: 20px;
    font-family: LatoBold;
    color: #fff;
    line-height: 73.66px;
	text-transform: uppercase;
	text-shadow: 0 0 0 #060d1a;
    margin-bottom: 27px;
}

.footer-nav img {
    max-width: 100%;
	margin-bottom: 42px;
}

.social-icons li {
    display: inline-block;
/*    float: left;*/
	margin-right: 10px;
}

.social-icons li a{
	background:url("../images/social_icons.png") no-repeat;
	height: 33px;
	width: 33px;
	display: block;
}

.social-icons li.googleplus-icon a{
	background-position: -44px 0;
}

.social-icons li.twiiter-icon a{
	background-position: -88px 0;
}

.social-icons li.youtube-icon a{
	background-position: -132px 0;
}

.social-icons li.linkedin-icon a{
	background-position: -176px 0;
}

.navigation h4,
.contact h4{
	line-height: normal;
	padding-left: 15px;
	margin-bottom: 48px;
}

.footer-nav ul.navigation li a {
    display: block;
    font-size: 20px;
	line-height: normal;
    font-family: LatoRegular;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.80);
	text-shadow: 0px 0 0 #060d1a;
}

.links li {
    margin-bottom: 15px;
}

.contact li {
    margin-bottom: 15px;
}

.contact p{
	font-size: 15px;
	color: rgba(255, 255, 255, 0.85);
	margin-bottom: 32px;
	font-family: LatoRegular;
	text-shadow: 0 0 0 #060d1a;
}

.contact p.bold{
	font-family: LatoBold !important;
}


.footer {
    padding: 15px 0;
    background-color: #000;
}

.footer ul li {
    float: left;
    margin-right: 22px;
}

.footer ul li a {
    color: #808080;
    font-size: 10px;
    font-weight: 600;
    font-family: LatoLight;
}

.footer .col-lg-6 {
    line-height: 30px;
}

.footer .col-lg-6 p {
    margin: 0;
    color: #808080;
    font-size: 10px;
    line-height: 30px;
    font-family: LatoLight;
}

@media screen and (max-width: 991px) {
	.contact{
		text-align: center;
		margin-top: 50px;
	}
	
	.contact p {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.contact{
		text-align: center;
		margin-top: 0px;
	}
	
	.contact p {
		text-align: center;
	}
	
	.footer-nav {
    	padding: 26px 56px 47px 56px;
	}
	
	 .footer-nav .col {
        border-bottom: 1px solid #3c3c3c;
        padding: 40px 20px;
        margin-bottom: 0 !important;
	    text-align: center;
    }
}

/*@media screen and (max-width: 991px) {
    .footer-nav {
        text-align: center;
        padding: 0 30px;
    }
    .footer-nav .col {
        border-bottom: 1px solid #3c3c3c;
        padding: 40px 20px;
        margin-bottom: 0 !important;
    }
}*/


